# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE files
.idea/
.DS_Store

# Streamlit local config
.streamlit/secrets.toml
